
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br/>
Not a User? @Html.ActionLink("Signup Now!", "SignUp", "Account")
Weather status: @Html.ActionLink("Clicky", "WeatherForm","Weather")

